
<div class="editForm">
  <%= form_with model: [ @category, @category.garments.build ], local: true do |form| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@category.errors.count, "error") %> prohibited
          this category from being saved:
        </h2>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @category.garments.build.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@category.garments.build.errors.count, "error") %> prohibited
          this category from being saved:
        </h2>
        <ul>
          <% @category.garments.build.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "editTextField" %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description, class: "editTextField" %>
    </p>
    <p>
      <%= form.label :price %><br>
      <%= form.text_area :price, class: "editTextField" %>
    </p>
    <p>
      <%= form.label :color %><br>
      <%= form.select :color, ['White', 'Black', 'Red'], class: "editTextField" %>
    </p>  
    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image, class: "editTextField" %>
    </p>
    <p>
      <%= form.submit class: "submitForm" %>
    </p>
  <% end %>
</div>