<p>
  <strong>Name:</strong>
  <%= garment.name %>
</p>
<p>
  <strong>Image:</strong>
  <%= garment.image %>
</p>
<%= link_to 'Show', [garment.category, garment] %>
<%= link_to 'Edit', edit_category_garment_path(garment) %>
<p>
  <%= link_to 'Destroy Garment', [garment.category, garment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>