<div style="display: flex; justify-content: center;">
<div class="garment">
  <div class="garmentInfo">
    <div style="display: flex; flex-direction: column;">
      <%= image_tag "/assets/garment_img/" + @garment.image, class: "garmentImg"%>
      <%= @garment.image %>
    </div>
    <p>
      <strong>Название:</strong>
      <%= @garment.name %><br><br>
      <strong>Описание:</strong>
      <%= @garment.description %><br><br>
      <strong>Цена:</strong>
      <%= @garment.price %><br><br>
      <strong>Цвет:</strong>
      <%= @garment.color %>
    </p>
  </div>

  <%= link_to 'Назад', category_path(@category), class: "editBackLink" %>
  <%= link_to 'Редактировать', edit_category_garment_path(@category, @garment), class: "categorieOptions" if user_signed_in?() %>
</div>
