
<div class="garment">
  <p>
    <%= image_tag "/assets/" + @garment.image, class: "garmentImg"%>
    <%= @garment.image %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @garment.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @garment.description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @garment.price %>
  </p>
  <p>
    <strong>Color:</strong>
    <%= @garment.color %>
  </p>

  <%= link_to 'Back', category_path(@category), class: "editBackLink" %>
  <%= link_to 'Edit', edit_category_garment_path(@garment), class: "categorieOptions" %>
</div>
