
<p class="titlePage" id="titleCategory">WELCOME</p>

<% if user_signed_in?() %>
  <%= current_user.name %><br>
  <%= link_to 'LOG OUT', session_path, data: { method: :delete } %>
<% else %>
  <div class="logButtons">
    <%= link_to 'SIGN UP', new_user_path, class: "linkCategorie" %>
    <%= link_to 'LOG IN', new_session_path, class: "linkCategorie" %>
  </div>
<% end %>

<%= render 'categories/list' %>